<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/index" method="post">
  <h1>Add a Vehicle:</h1>
  <label for="makeModel">Vehicle Year, Make, Model:</label>
  <input type="text" name="makeModel" id="makeModel">
  <label for="price">Vehicle price:</label>
  <input type="text" name="price" id="price">
  <label for="mileage">Vehicle mileage:</label>
  <input type="text" name="mileage" id="mileage">
  <button type="submit">Add Car!</button>
  </form>
</body>
</html>